html {
  --15px: 0.9375rem;
  --22px: 1.3125rem;
}

body {
  background-color: #d5e1ef;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.qrcode-component {
  box-shadow: 0 25px 25px 0px rgba(0, 0, 0, 0.0477);
  max-width: calc(320rem / 16);
  background-color: white;
  padding: 16px 16px 40px;
  border-radius: 20px;
  text-align: center;
}

.qrcode-component img {
  border-radius: 10px;
}

.qrcode-component section {
  margin: 24px 16px 0 16px;
}

.qrcode-component h2 {
  color: #1f314f;
  font-family: "Outfit", sans-serif;
  font-size: var(--22px);
  font-weight: 700;
  font-style: normal;
  line-height: 1.2;
}

.qrcode-component p {
  color: #68778d;
  margin-top: 16px;
  font-size: var(--15px);
  font-family: "Outfit", sans-serif;
  line-height: 1.4;
  font-weight: 400;
  font-style: normal;
  display: block;
}
